.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}
html {
  background-color: #F8A410 !important;
}


.hidden-text{
  display: none;
}
.micstandall-first{
  transform: scale(2);
}
.micstandall{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.micstandall{
  color: white;
}
.micstand{
  height: 2rem;
  width: 2rem;
  border: 3px white solid;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-content:   center;
  justify-content: center;
}

.attributes-all{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.pictureframe{
  float: left;
  height: 200px;
  width: 200px !important;
}
.pictureframe img{
  height:100%;
  border-radius: 500px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: #FF08FF;
  color: white;
}

button:hover{
  background-color: #FF080F;
  font-weight: bold
}

h2, h3, h4 {
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
